#two
{
    color: rgb(5, 4, 4);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 20px;
    background-color: rgb(255, 251, 251);
}
#one
{
    background-color: rgba(44, 77, 37, 0.809);
    
}
