<div class="container1">
  <div class="tr"><h1>Faunafari Wild-Animals Trafficking Report Portal</h1></div>
</div>
<div class="container">
  
  <form #f="ngForm" (ngSubmit)="addData(f)">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" name="name" ngModel>
    </div>
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" ngModel>
    </div>
    <div class="mb-3">
      <label class="form-label">Contact Number</label>
      <input type="text" class="form-control" name="pass" ngModel>
    </div>
    <div class="mb-3">
      <label class="form-label">Incident Location Co-ordinates</label>
      <input type="text" class="form-control" name="pass" ngModel>
    </div>
    <div>
      <label for="Image">Image File</label>
      <input type="file" (change)="upload($event)" accept="*.png.jpg.jpeg" id="">
      <button (click)="uploadImage()">Upload Image</button>
    </div>
    <div class="mt-5">
      <button  type="submit" id="liveToastBtn" class="btn btn-primary">Submit</button>
    </div>
   </form>
  </div>
  