<form #f="ngForm" (ngSubmit)=" getLocation(f)">
  <div class="mb-3">
    <label class="form-label">Latitude</label>
    <input type="text" class="form-control" name="latitude" ngModel>
  </div>
  <div class="mb-3">
    <label class="form-label">Longitude</label>
    <input type="text" class="form-control" name="longitude" ngModel>
  </div>
  <div class="mt-5">
    <button  type="submit" class="btn btn-primary">GetLocation</button>
  </div>
  <div class="mt-4">
    <label class="form-label"><b>Location</b></label><br>
    <textarea id="lcn" name="loc" ></textarea>
  </div>
  <div class="lc">
    <p *ngFor='let item of locationData'>
      {{item.name}}
      Local_Names: {{item.local_names}}
      Latitude: {{item.lat}}
      Longitude:{{item.lon}}
      Country: {{item.country}}
   </p>
  </div>
</form>
<div class="sb">
  <form #f="ngForm" (ngSubmit)="addData(f)">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" name="name" ngModel>
    </div>
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" ngModel>
    </div>
    <div class="mb-3">
      <label class="form-label">Contact Number</label>
      <input type="text" class="form-control" name="pass" ngModel>
    </div>
    <div>
      <label for="Image">Image File</label>
      <input type="file" (change)="upload($event)" accept="*.png.jpg.jpeg" id="">
      <button (click)="uploadImage()">Upload Image</button>
    </div>
    <div class="mt-5">
      <button  type="submit" id="liveToastBtn" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
