<h1 class="io">Faunafari Animal Cruelty and trafficking Report Portal</h1>
<h3 class="wr"><marquee>Report Endangered Wild Animals Trafficking</marquee></h3>
<div class="seg">
    <span class="input-group-text" id="basic-addon1">Your Name</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    <span class="input-group-text" id="basic-addon1">Email</span>
    <input type="email" class="form-control" placeholder="Enter Your e-mail here" aria-label="Username" aria-describedby="basic-addon1">
    <span class="input-group-text" id="basic-addon1">Incident Location with Geographic Coordinates</span>
    <input type="text" class="form-control" placeholder="Coordinates" aria-label="Username" aria-describedby="basic-addon1">
    <span class="input-group-text">Details</span>
    <textarea class="form-control" aria-label="With textarea"></textarea>
    <label for="formFile" class="form-label"><h6>Supporting Evidence</h6></label>
    <input class="form-control" type="file" id="formFile">
    <button type="submit" onclick="upload($event)" class="btn btn-primary">Submit</button>
</div>

<div class="tr">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #249659">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-5" />
  
        <!-- Section: Text -->
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                Humankind must learn to understand that the life of an animal is in no way less precious than our own.
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
        <!-- Section: Social -->
        <section class="text-center mb-5">
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </section>
        <!-- Section: Social -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2020 Copyright:
        <a class="text-white" 
           >faunafari.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->


