.one
{
    font-family:sans-serif;
    font-weight: bold;
    color:rgba(86, 36, 49, 0.931);
    background-color: rgba(250, 253, 249, 0.439);
    display: flex;
    justify-content: center;
    text-align: center;
}

.accordion-body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}