<h1 class="one">Faunafari:Wildlife do matter</h1>
<img id="tr" style="width: 500px; height: 300px;" src="https://w0.peakpx.com/wallpaper/802/374/HD-wallpaper-white-tiger-animal-ultra-animals-wild-white-tiger-animal-conservation-wildlife-beautifulanimals.jpg" alt="">

<div class="ed">
<h1 id="on">Our approach</h1> 
<p class="et">
Although the natural world is a source of great beauty and happiness, vast numbers of animals routinely face serious challenges such as disease, hunger, or natural disasters. There is no “one-size-fits-all” solution to these threats. However, even as we recognize that improving the welfare of free-ranging wild animals is difficult, we believe that humans have a responsibility to help whenever we can.
We respect wild animals as individuals with their own needs and preferences, rather than seeing them as mere parts of ecosystems. But this approach demands a richer understanding of wild animals’ lives. 

We want to take a proactive approach to managing the welfare benefits, threats, and uncertainties that are inherent to complex natural and urban environments. Yet, to take action safely, we must conduct research to understand the impacts of our actions. The transdisciplinary perspective of wild animal welfare draws upon ethics, ecology, and animal welfare science to gather the knowledge we need, facilitating evidence-based improvements to wild animals’ quality of life.
We combine wildlife conservation action and strategic policy interventions with rigorous principles of conservation science, and forge long-lasting productive partnerships with governmental and non-governmental partners as well as with local communities. Our conservation action addresses the overarching threats of habitat fragmentation, poaching and wildlife trade as well as human-wildlife conflict, which impacts our biodiversity and its habitats. 
</p>
</div>
