.one
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:rgba(250, 252, 253, 0.743);
    background-color: rgba(43, 87, 34, 0.959);
}
.ed
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}
.et
{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
}
#on
{
    color: rgb(60, 95, 24);
    font-weight: bolder;
}
#tr
{
    border-radius: 50px;
}