<div class="container-fluid">
  <div class="container">
    
        <div class="card">
            <img class="img-responsive" style="height: 580px;" width="1350px" 
                 src=
"https://4kwallpapers.com/images/wallpapers/tiger-big-cat-roaring-wildlife-tree-forest-day-light-5k-3440x1440-2402.jpg">


            <div class="card-img-overlay card-inverse">
                <h3 id="ft"><marquee>Conserve Wildlife-Preserve Ecological Balance</marquee></h3>
                <h4 class="text-stroke text-white pb-5">
                   <h1 id="tg">Faunafari</h1>
                </h4>
                <div class="card-block pt-5">
                </div>
            </div>
           
        </div>
   
</div>
</div>
