<div class="container-fluid">
    <h1 class="display-1">Welcome</h1>
    <div class="row mt-5">
        <div class="col">
            <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <form id="bn">
                        <div class="mb-12">
                            <h4 class="text-danger text-muted">Welcome</h4>
                        </div>
                        <button type="button" class="btn btn-warning text-center" (click)="register()">Logout</button>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/login" style="text-decoration: none;">Have an account ? <span class="text-danger">Login</span></a>
                            </div>
                           
                        </div>
                      </form>
                </div>
            </div>
            </div>
        </div>
    </div>
   